{{- $codespace:= env "CODESPACES" | not | not -}}

sourceDir: {{ .chezmoi.sourceDir | quote }}
cd:
  command: fish
diff:
  command: delta
edit:
  command: nvim
data:
  {{- if $codespace }}
  codespace: true
  redgate_private_feed_pat: {{ env "REDGATE_PRIVATE_FEED_PAT" }}
  {{- else }}
  redgate_private_feed_pat: {{ (onepassword "ieh7v6v7y7x4l2fyxfe3nut3qu").details.password }}
  {{- end }}
