{{- $codespace:= env "CODESPACES" | not | not -}}

sourceDir: {{ .chezmoi.sourceDir | quote }}
cd:
  command: fish
diff:
  command: delta
edit:
  command: nvim
data:
  {{- if $codespace }}
  codespace: true
  {{- else }}
  codespace: false
  {{- end }}
