{{ if eq .codespace true -}}
#! /bin/sh


sudo apt-get update
sudo apt-get install -y ripgrep
sudo apt-get install -y fzf
sudo apt-get install -y bat

# On Ubuntu, `bat` is installed as `batcat` so this symink is needed.
ln -s /usr/bin/batcat ~/bin/bat

wget -q https://github.com/Peltoche/lsd/releases/download/0.20.1/lsd_0.20.1_amd64.deb
sudo dpkg -i lsd_0.20.1_amd64.deb
rm -f lsd_0.20.1_amd64.deb

{{ end -}}
