Host *
    ServerAliveInterval 60
{{ if (eq .chezmoi.os "darwin") -}}

Host master
  HostName 192.168.0.103
  User andrew

Host node2
  HostName 192.168.0.106
  User andrew

Host node1
  HostName 192.168.0.100
  User andrew
{{ end }}
