# Aliases
alias vim=nvim
alias vi=nvim
alias vimdiff='nvim -d'
alias ls='lsd --no-symlink'
alias tree='lsd --tree'
alias cat=bat
alias myip='dig +short myip.opendns.com @resolver1.opendns.com'
alias hm='history --merge'
alias root='cd (git rev-parse --show-toplevel)'
{{ if (eq .chezmoi.os "darwin") -}}
alias nerdctl=nerdctl.lima
{{- end}}

# Abbreviations
abbr -a b bat
abbr -a c chezmoi
abbr -a g git
abbr -a p protoc
abbr -a h helm
abbr -a s stripe
abbr -a k kubectl
abbr -a kd 'kubectl describe'
abbr -a kx 'kubectl delete'
abbr -a sn 'kubectl config set-context --current --namespace'
abbr -a t telepresence
abbr -a uc 'kubectl config use-context'
abbr -a a argocd
abbr -a w werft
{{ if (eq .chezmoi.os "linux") -}}
abbr -a d docker
{{- end -}}
{{ if (eq .chezmoi.os "darwin") -}}
abbr -a l limactl
abbr -a n nerdctl
{{- end }}
{{ if eq .gitpod true -}}
abbr -a p previewctl
abbr -a pi previewctl install-context
{{ end }}

# Variables
{{ if eq .gitpod false -}}
fish_add_path {{ .chezmoi.homeDir }}/bin
{{ end -}}
set -Ux DOCKER_SCAN_SUGGEST false
set -Ux EDITOR nvim
set -Ux FZF_DEFAULT_COMMAND fd --type f --follow
set -Ux FZF_DEFAULT_OPTS --info=default --border --color=dark --layout=reverse
set -Ux PAGER less
set -Ux --path RIPGREP_CONFIG_PATH {{ .chezmoi.homeDir }}/.rgrc
set -Ux VISUAL nvim
set -g fish_greeting

# Colors
set fish_color_cwd red
set fish_color_command 005fd7
set fish_color_param 00afff
