# Define some aliases
alias vim=nvim
alias vi=nvim
alias vimdiff='nvim -d'
alias ls='lsd --no-symlink'
alias tree='lsd --tree'
alias cat=bat
alias myip='dig +short myip.opendns.com @resolver1.opendns.com'
alias hm='history --merge'
{{ if (eq .chezmoi.os "darwin") -}}
alias nerdctl=nerdctl.lima
{{- end}}
