# Aliases
alias vim=nvim
alias vi=nvim
alias vimdiff='nvim -d'
alias ls='lsd --no-symlink'
alias tree='lsd --tree'
alias cat=bat
alias watch='watch -n1'
alias myip='dig +short myip.opendns.com @resolver1.opendns.com'
alias hm='history --merge'
alias root='cd (git rev-parse --show-toplevel)'
alias glow='glow -p'

# Abbreviations
abbr -a b bat
abbr -a c chezmoi
abbr -a g git
abbr -a p pulumi
abbr -a h helm
abbr -a s snaplet
abbr -a k kubectl
abbr -a kd 'kubectl describe'
abbr -a kx 'kubectl delete'
abbr -a sn 'kubectl config set-context --current --namespace'
abbr -a uc 'kubectl config use-context'
abbr -a a argocd
abbr -a w werft
abbr -a d docker

# Variables
fish_add_path {{ .chezmoi.homeDir }}/bin
fish_add_path -a {{ .chezmoi.homeDir }}/go/bin
fish_add_path -a {{ .chezmoi.homeDir }}/.cargo/bin
set -Ux DOCKER_SCAN_SUGGEST false
set -Ux EDITOR nvim
set -Ux FZF_DEFAULT_COMMAND fd --type f --follow
set -Ux FZF_DEFAULT_OPTS --info=default --border --color=dark --layout=reverse
set -Ux --path RIPGREP_CONFIG_PATH {{ .chezmoi.homeDir }}/.rgrc
set -Ux VISUAL nvim
set -g fish_greeting

# Colors
set fish_color_cwd red
set fish_color_command 005fd7
set fish_color_param 00afff

# Vi mode cursor shapes
set fish_cursor_default block
set fish_cursor_insert line
set fish_cursor_replace_one underscore
set fish_cursor_visual block blink

# Set up direnv
direnv hook fish | source
