# This file contains fish universal variable definitions.
# VERSION: 3.0
SETUVAR --export DOCKER_SCAN_SUGGEST:false
SETUVAR --export EDITOR:nvim
SETUVAR --export FZF_DEFAULT_COMMAND:fd\x20\x2d\x2dtype\x20f\x20\x2d\x2dfollow
SETUVAR --export FZF_DEFAULT_OPTS:\x2d\x2dinfo\x3ddefault\x20\x2d\x2dborder\x20\x2d\x2dcolor\x3ddark\x20\x2d\x2dlayout\x3dreverse
SETUVAR --export GOPRIVATE:github\x2ecom/red\x2dgate
SETUVAR --export KOPS_STATE_STORE:s3\x3a//cluster\x2eredgatefoundry\x2ecom
SETUVAR --export PAGER:less
SETUVAR --export --path RIPGREP_CONFIG_PATH:{{ .chezmoi.homeDir }}/.rgrc
SETUVAR --export VISUAL:nvim
SETUVAR __fish_initialized:3100
{{ if (not (eq .chezmoi.os "darwin")) -}}
SETUVAR _fish_abbr_d:docker
{{- end -}}
SETUVAR _fish_abbr_b:bat
SETUVAR _fish_abbr_c:chezmoi
SETUVAR _fish_abbr_e:etcdctl
SETUVAR _fish_abbr_f:flyway
SETUVAR _fish_abbr_g:git
SETUVAR _fish_abbr_h:helm
SETUVAR _fish_abbr_k:kubectl
SETUVAR _fish_abbr_kd:kubectl\x20describe
SETUVAR _fish_abbr_kx:kubectl\x20delete
SETUVAR _fish_abbr_m:minikube
SETUVAR _fish_abbr_sn:kubectl\x20config\x20set\x2dcontext\x20\x2d\x2dcurrent\x20\x2d\x2dnamespace
SETUVAR _fish_abbr_t:telepresence
SETUVAR _fish_abbr_uc:kubectl\x20config\x20use\x2dcontext
SETUVAR _fish_abbr_a:argocd
SETUVAR _fish_abbr_n:nerdctl
SETUVAR _fish_abbr_w:werft
SETUVAR fish_color_autosuggestion:555\x1ebrblack
SETUVAR fish_color_cancel:\x2dr
SETUVAR fish_color_command:005fd7
SETUVAR fish_color_comment:990000
SETUVAR fish_color_cwd:red
SETUVAR fish_color_cwd_root:red
SETUVAR fish_color_end:009900
SETUVAR fish_color_error:ff0000
SETUVAR fish_color_escape:00a6b2
SETUVAR fish_color_history_current:\x2d\x2dbold
SETUVAR fish_color_host:normal
SETUVAR fish_color_host_remote:yellow
SETUVAR fish_color_match:\x2d\x2dbackground\x3dbrblue
SETUVAR fish_color_normal:normal
SETUVAR fish_color_operator:00a6b2
SETUVAR fish_color_param:00afff
SETUVAR fish_color_quote:999900
SETUVAR fish_color_redirection:00afff
SETUVAR fish_color_search_match:bryellow\x1e\x2d\x2dbackground\x3dbrblack
SETUVAR fish_color_selection:white\x1e\x2d\x2dbold\x1e\x2d\x2dbackground\x3dbrblack
SETUVAR fish_color_status:red
SETUVAR fish_color_user:brgreen
SETUVAR fish_color_valid_path:\x2d\x2dunderline
SETUVAR fish_greeting:
SETUVAR fish_key_bindings:fish_default_key_bindings
SETUVAR fish_pager_color_completion:\x1d
SETUVAR fish_pager_color_description:B3A06D\x1eyellow
SETUVAR fish_pager_color_prefix:white\x1e\x2d\x2dbold\x1e\x2d\x2dunderline
SETUVAR fish_pager_color_progress:brwhite\x1e\x2d\x2dbackground\x3dcyan
SETUVAR fish_user_paths:{{ .chezmoi.homeDir }}/bin\x1e/Users/andrew/go/bin/
